## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Intermediate documents:
*.dvi
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk

## Auxiliary and intermediate files from other packages:

# amsthm
*.thm

# beamer
*.nav
*.snm
*.vrb

# hyperref
*.brf

# makeidx
*.idx
*.ilg
*.ind
*.ist

# minted
_minted*
*.pyg

#Backup-files (from emacs)
*~
# auto folder when using emacs and auctex
auto/*

# vim swap files
*.swp
*.swo

# Some deliverable-specific stuff
d4.2.pdf
d4.3.pdf
d4.4.pdf

